body {
    width: 1500px;
    margin: 0 auto;
    height: 3000px;
    position: relative;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: aliceblue;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    align-items: center;
    height: 204.84px; 
    width: 100%;
}
.cominfo ul{
    list-style: none;
}
