.title1 {
 width: 500px;
}
.title1 img {
    position: relative;
    top: 5px;
}
.title1:hover {
    text-decoration: none;
    color:rgb(122, 122, 187);
}
.contents:hover {
    text-decoration: none;
    color:rgb(122, 122, 187);
    cursor: pointer;
}
.info{
	position: absolute;
}
.table1, .title1 {
 position: relative;
 top: 85.5px;
 left: 150px;
}
.table1 {
	min-height: 412px;
}
.title2 {
 width: 500px;
}
.title2 img {
    position: relative;
    top: 5px;
    left: 7px;
}
.title2:hover {
    text-decoration: none;
    color:rgb(122, 122, 187);
}

.table2, .title2 {
 position: relative;
 top: 610px;
 left: 150px;
}
.table2 {
	min-height: 412px;
}
.title3 {
 width: 500px;
}
.title3 img {
    position: relative;
    left: 5px;
}
.title3:hover {
    text-decoration: none;
    color:rgb(122, 122, 187);
}

.table3, .title3 {
 position: relative;
	left: 850px;
    top: 90px;
}
.table3 {
	min-height: 412px;
}
.title4 {
 width: 500px;
}
.title4 img {
    position: relative;
    top: 10px;
    left: 5px;
}
.title4:hover {
    text-decoration: none;
    color:rgb(122, 122, 187);
}

.table4, .title4 {
 position: relative;
 left: 850px;
 top: 607px;
}
.table4 {
	min-height: 412px;
}
.contents{
 font-weight: bolder;
 font-size: 20px;
}

hr.hr-14 {
 border: 0;
 height: 1px;
 background-image: -webkit-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
 background-image: -moz-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
 background-image: -ms-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
 background-image: -o-linear-gradient(left, #f0f0f0, #8c8c8c, #f0f0f0);
}

a {
color: inherit;
text-decoration: none;
}
.column img {
    position: relative;
    top: 5px;
}
